In [1]:
import sys
sys.path.append('../')
sys.path.append('./')

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

from src.data.uniting import unite_datasets

from src.config import ROW_DATA_PATH, ROW_PERSON_PATH

%matplotlib inline
sns.set(style='darkgrid', font_scale=1.5)

In [5]:
data_path = ROW_DATA_PATH
person_path = ROW_PERSON_PATH

### 05.10.21

In [38]:
new_data_path = 'datasets/data_05_10_21_data_table.csv'
new_person_path = 'datasets/data_05_10_21_person_table - data_05_10_21_person_table.csv'

In [12]:
new_data = pd.read_csv(new_data_path, index_col=0)
new_person = pd.read_csv(new_person_path, index_col='_id')

In [3]:
data_path = 'data.csv'
person_path = 'person.csv'

In [5]:
data = pd.read_csv(data_path, index_col=0)
person = pd.read_csv(person_path, index_col='_id')

In [123]:
last_index = data.iloc[-1].name
last_id = person.iloc[-1].name

In [132]:
new_data.index += last_index
new_data['_id'] += last_id
new_person.index += last_id

In [135]:
data = pd.concat([data, new_data])
person = pd.concat([person, new_person])

In [46]:
data.to_csv(data_path)
person.to_csv(person_path)

### 15.11.21

In [10]:
new_data_path = 'datasets/data_15_11_21_data_table.csv'
new_person_path = 'datasets/data_15_11_21_person_table.csv'

In [14]:
unite_datasets(data_path, person_path, new_data_path, new_person_path)

### 23.11.21

In [19]:
new_data_path = 'datasets/data_23_11_21_data_table.csv'
new_person_path = 'datasets/data_23_11_21_person_table.csv'

In [20]:
unite_datasets(data_path, person_path, new_data_path, new_person_path)

### 28.11.21

In [21]:
new_data_path = 'datasets/data_28_11_21_data_table.csv'
new_person_path = 'datasets/data_28_11_21_person_table.csv'

In [22]:
unite_datasets(data_path, person_path, new_data_path, new_person_path)

### Исправление бага с излишними повторными записями в data

In [43]:
data = pd.read_csv(data_path, index_col=0)
person = pd.read_csv(person_path, index_col='_id')

In [44]:
data = data[np.in1d(data['_id'], person.index)].reset_index(drop=True)

In [45]:
data

        _id      x     y     z
0         1  13916 -1172 -8424
1         1  13816 -1156 -8304
2         1  14188 -1256 -8012
3         1  14128 -1360 -8100
4         1  14228  -832 -7976
...     ...    ...   ...   ...
248660  311  12104  -660 -5384
248661  311  12612  -400 -4408
248662  311  12368  -384 -3992
248663  311  16172  -156 -6656
248664  311  19608   408 -5484

[248665 rows x 4 columns]

In [7]:
person

     height  mass  position  is_valid  age  sex
_id
1       180    85         2         0   18    1
2       185    75         1         0   18    1
3       185    75         2         0   18    1
6       185    75         3         0   18    1
7       185    75         1         1   18    1
..      ...   ...       ...       ...  ...  ...
307     170    61         2         0   20    0
308     170    61         3         0   20    0
309     170    61         1         1   20    0
310     170    61         2         1   20    0
311     170    61         3         1   20    0

[128 rows x 6 columns]

In [47]:
data.to_csv(data_path)
person.to_csv(person_path)