In [1]:
import pandas as pd
import numpy as np

In [7]:
data = pd.read_csv('metrics_data.csv', index_col='_id')
person = pd.read_csv('../person.csv', index_col='_id')

In [16]:
data

,x_mean,x_std,x_max,x_min,y_mean,y_std,y_max,y_min,z_mean,z_std,...,sma,x_energy,y_energy,z_energy,x_iqr,y_iqr,z_iqr,xy_corr,xz_corr,yz_corr
_id,,,,,,,,,,,,,,,,,,,,,
1,13110.861519,1489.074033,17584.0,628.0,-231.045310,1249.368959,3960.0,-5076.0,-9781.608168,1204.070214,...,16514.114425,1.741106e+08,1.613309e+06,9.712872e+07,684.0,1788.0,808.0,0.389405,0.895658,0.367969
2,10398.993311,636.795316,11924.0,8728.0,1220.230769,712.538755,3100.0,-1344.0,-12743.739130,516.853783,...,16528.702152,1.085442e+08,1.996250e+06,1.626698e+08,1136.0,735.0,866.0,-0.186981,0.950490,-0.062792
3,12969.669749,807.711275,15236.0,10760.0,-36.354029,1327.785100,4640.0,-5000.0,-10092.491413,1051.603116,...,16538.716131,1.688639e+08,1.762006e+06,1.029628e+08,1164.0,964.0,1368.0,-0.023526,0.921424,-0.023458
6,12765.113725,3289.505788,29072.0,6396.0,815.027451,2927.223542,12488.0,-5844.0,-10411.811765,3428.969363,...,16912.948421,1.737265e+08,9.199305e+06,1.201175e+08,3768.0,3326.0,4846.0,0.078659,-0.394979,-0.021597
7,15146.131868,160.385778,16424.0,12984.0,-1865.611722,122.331084,-1588.0,-3500.0,-6243.567766,290.745677,...,16491.939761,2.294310e+08,3.495458e+06,3.906659e+07,196.0,132.0,485.0,-0.203383,0.750925,-0.452449
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
307,15784.175413,291.910508,17200.0,14204.0,-675.847592,819.859282,3412.0,-2132.0,-4900.934579,647.924670,...,16576.112392,2.492253e+08,1.128456e+06,2.443866e+07,220.0,1152.0,582.0,-0.147803,0.830312,-0.258740
308,15282.539857,3387.421937,27404.0,8024.0,-610.390324,1745.136557,5224.0,-6856.0,-6231.296317,2841.199185,...,16739.117563,2.450243e+08,3.416404e+06,4.689703e+07,5468.0,2342.0,4200.0,-0.051417,-0.568697,0.066659
309,14337.600584,197.941923,15764.0,12352.0,-675.310697,332.853723,928.0,-4060.0,-8232.575392,279.984006,...,16553.440474,2.056060e+08,5.667957e+05,6.785366e+07,164.0,264.0,264.0,0.213569,0.786830,0.045659
310,15800.594937,261.708128,18100.0,13532.0,-641.810127,539.895303,2432.0,-2792.0,-4761.094937,501.641510,...,16532.446911,2.497273e+08,7.032919e+05,2.291957e+07,244.0,548.0,633.0,0.137097,0.777612,0.054161
311,14979.542553,3330.229010,25580.0,8564.0,-920.540426,1479.689278,3804.0,-5468.0,-7088.687234,2260.904692,...,16737.274273,2.354712e+08,3.035710e+06,5.535846e+07,5563.0,1872.0,3933.0,-0.094261,-0.571363,0.015300

In [8]:
person

     height  mass  position  is_valid  age  sex
_id
1       180    85         2         0   18    1
2       185    75         1         0   18    1
3       185    75         2         0   18    1
6       185    75         3         0   18    1
7       185    75         1         1   18    1
..      ...   ...       ...       ...  ...  ...
307     170    61         2         0   20    0
308     170    61         3         0   20    0
309     170    61         1         1   20    0
310     170    61         2         1   20    0
311     170    61         3         1   20    0

[128 rows x 6 columns]

In [14]:
pos1_idx = person[person['position'] == 1].index
pos23_idx = person[~(person['position'] == 1)].index

In [22]:
pos1 = data.loc[pos1_idx].copy()
pos23 = data.loc[pos23_idx].copy()

In [24]:
pos1.columns = list(map(lambda x: x + '_pos1', data.columns))